<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Calendar</h1>

		<f:flashMessages />

		<table  class="tx_unitools" >
			<tr>
				<th><f:translate key="tx_unitools_domain_model_calendar.title" /></th>
				<th><f:translate key="tx_unitools_domain_model_calendar.teaser" /></th>
				<th><f:translate key="tx_unitools_domain_model_calendar.bodytext" /></th>
				<th><f:translate key="tx_unitools_domain_model_calendar.images" /></th>
				<th><f:translate key="tx_unitools_domain_model_calendar.date" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{calendars}" as="calendar">
				<tr>
					<td><f:link.action action="show" arguments="{calendar : calendar}"> {calendar.title}</f:link.action></td>
					<td><f:link.action action="show" arguments="{calendar : calendar}"> {calendar.teaser}</f:link.action></td>
					<td><f:link.action action="show" arguments="{calendar : calendar}"> {calendar.bodytext}</f:link.action></td>
					<td><f:link.action action="show" arguments="{calendar : calendar}"> {calendar.images.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{calendar : calendar}"> {calendar.date -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{calendar : calendar}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{calendar : calendar}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Calendar</f:link.action>
	</f:section>
</html>