<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_unitools_domain_model_calendar.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="teaser">
	<f:translate key="tx_unitools_domain_model_calendar.teaser" />
</label><br />
	<f:form.textarea property="teaser" cols="40" rows="15" /><br />
<label for="bodytext">
	<f:translate key="tx_unitools_domain_model_calendar.bodytext" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="bodytext" cols="40" rows="15" /><br />
<label for="images">
	<f:translate key="tx_unitools_domain_model_calendar.images" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="date">
	<f:translate key="tx_unitools_domain_model_calendar.date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="date" value="{calendar.date->f:format.date()}" /><br />
</html>