<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-unitools" >
	<tr>
		<td>
			<f:translate key="tx_unitools_domain_model_calendar.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_unitools_domain_model_calendar.teaser" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_unitools_domain_model_calendar.bodytext" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_unitools_domain_model_calendar.images" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_unitools_domain_model_calendar.date" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>